[project]
	description = based on linux
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/alex wang (NingbinWang)
[access "refs/for/refs/*"]
	read = group user/alex wang (NingbinWang)
	push = group user/alex wang (NingbinWang)
	label-Code-Review = -2..+2 group user/alex wang (NingbinWang)
	label-Verified = -1..+1 group user/alex wang (NingbinWang)
	rebase = group user/alex wang (NingbinWang)
	removeReviewer = group user/alex wang (NingbinWang)
	submit = group user/alex wang (NingbinWang)
[access "refs/heads/*"]
	read = group user/alex wang (NingbinWang)
	create = group user/alex wang (NingbinWang)
	push = +force group user/alex wang (NingbinWang)
	pushMerge = group user/alex wang (NingbinWang)
[access "refs/tags/*"]
	push = group user/alex wang (NingbinWang)
	push = +force group user/alex wang (NingbinWang)
